{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block content %} 

<div class="container bag-hero-image">
    <div class="row">
        <div class="col-12 col-md-6 my-auto text-center">
            <h2 class="text-light font-weight-bold mt-5">This is Your Bag</h2>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded"></div>
        {% else %}
            <p class="lead mb-5">You have no stored requests.</p>
                <a href="{% url 'projects_packages' %}?company=austin_james" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Choose a package</span>
                </a>
        {% endif %}
        </div>
    </div>
{% endblock %}